h4 {
  height: 3rem;
}
@media (min-width: 992px) {
  h4 {
    height: 5rem;
  }
}
@media (max-width: 992px) {
  h4 {
    height: 3.5rem;
  }
}
.image-banner {
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("../images/books.jpg");
  background-size: cover;
}

.hide-text-title {
  overflow: hidden;
  position: relative;
  max-height: 5em;
  text-align: left;
  margin-right: -1em;
  padding-right: 1em;
}

.hide-text-summary {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.hide-text-summary:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
.hide-text-summary:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
